body {
    text-align: center;
    background: linear-gradient(219deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 25%, rgba(86,201,224,1) 100%);
    background-size: auto;
    background-repeat: no-repeat;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    height: 100vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 150px;
}

#increment-btn {
    margin: 5px;
    background-color: blue;
    color: white;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px black;
}

#save-btn {
    margin: 5px;
    background-color: green;
    color: white;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px black;
}

#reset-btn {
    margin: 5px;
    background-color: red;
    color: white;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 1px 1px 1px black;
}